
<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= post.title%></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div class='container'>
    <br />
    <p>
      <a href = '/'>Main</a>
      <a href = '/files/Games'>Games</a>
      <a href = '/files/Videos'>Videos</a>
      <a href = '/files/Audio'>Audio</a>
      <a href = '/files/Text'>Texts</a>
      <a href = '/files/Images'>Images</a>
      <a href = '/files/Software'>Software</a>
      <% if (!user) { %>
                    <a href = '/login'>Login</a>
                <% } else { %>
                    <a href = '/logout'>Logout</a>
                    <a href = '/profile'>Profile</a>
                <% } %>
    </p>
    <br />
    <h1><%=post.title%></h1>
    <h4>Description:</h4>
    <p>
    <%=post.description%>
    </p>
      <p>Created: <%= post.date%> by user <%= post.username%></p>
      <% for(var i=0; i < post.files.length; i++) { %>
        <li>
            <a href= '<%= post.files[i].path %>' download><%= post.files[i].name%></a>
        </li>

    <% } %>

    <a href='/update_post/<%= post._id%>'>Update this post</a>
    <script type="text/javascript">
    function download(path)
    {
       var ifrm = document.getElementById("frame");
       ifrm.src = path;
    }
    </script>

  </div>
</body>
</html>
