
<html lang="en">
<head>
  <title><%= post.title%></title>

  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link  href='/stylesheets/style.css' type="text/css" rel="stylesheet">
</head>

<body>
  <header>
    <nav class = "navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href='/'>Files4U</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href = '/'>Main</a></li>
          <li><a href = '/files/Games'>Games</a></li>
          <li><a href = '/files/Videos'>Videos</a></li>
          <li><a href = '/files/Audio'>Audio</a></li>
          <li><a href = '/files/Text'>Texts</a></li>
          <li><a href = '/files/Images'>Images</a></li>
          <li><a href = '/files/Software'>Software</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
                        <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                        <li><a href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% } else { %>
                        <li><a href = '/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li><a href = '/profile'><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <% } %>
       </ul>
     </div>
    </nav>
  </header>
  <div class='container'>
    <br />
    <h1><%=post.title%></h1>
    <h4>Description:</h4>
    <p><%=post.description%> </p>
    <p>Created: <%= post.date%> by user <%= post.username%></p>

    <ul class="list-group">
    <% for(var i=0; i < post.files.length; i++) { %>

        <li class="list-group-item"><a href= '<%= post.files[i].path %>' download><%= post.files[i].name%></a></li>

    <% } %>
    </ul>

    <% if (user.username === post.username || user.admin) { %>
                <a href='/update_post/<%= post._id%>' class="btn btn-info" role="button">Update post</a>
              <% } %>
  </div>
</body>
</html>
